body{
    margin: 0;
    padding: 0;
    background-color: #fcf8e3;
}
.Block-Body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    background-color: white;
    margin:50px 120px 0 120px;
    min-width: 1000px;
    z-index: 1;
    overflow: auto;
}



.Block-Main-Top-3{
    height: auto;
    width:auto;
}
.Form-Search-1{
    width: auto;
    height: auto;
    margin:60px 150px 30px 150px;
    min-width: 916px;
}
.Block-ButtonInside-1{
    width: auto;
    height: auto;
}

