
body{
    margin: 0;
    padding: 0;
    background-color: #fcf8e3;
}
.Block-Body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    background-color: white;
    margin:50px 120px 0 120px;
    padding: 0 0 20px 0;
    width: 84%;
    min-width: 800px;
    min-height: 680px;
    z-index: 1;
    overflow: auto;
}

.Block-SImgInside-2{
    padding: 0 55px;
    float: left;
    width: 80%;
    height: auto;
    min-width: 400px;
}



